<div class="logo text-center">
    <img width="100" height="50" src="assets/gymlogo.png" alt="">
</div>

<div class="registration-form m-3 p-4">
    <form>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput placeholder="Firstname">
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>                    
                    </mat-form-field>
                  </p>
            </div>
            <div class="col-md-6">
                <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Last Name</mat-label>
                      <input matInput placeholder="Lastname">
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                  </p>
            </div>
            <div class="col-md-6">
                <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput placeholder="Email">
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>                    
                    </mat-form-field>
                  </p>
            </div>
            <div class="col-md-6">
                <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Mobile</mat-label>
                      <input matInput placeholder="Mobilenumber">
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                  </p>
            </div>
            <div class="col-md-6">
                <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Weight</mat-label>
                      <input type="numbe" fromControlName="weight" matInput placeholder="weight">
                      <mat-icon matSuffix>line_weight</mat-icon>                    
                    </mat-form-field>
                  </p>
            </div>
            <div class="col-md-6">
                <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Mobile</mat-label>
                      <input matInput placeholder="Mobilenumber">
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                  </p>
            </div>
            
        </div>
    </form>
</div>